.archive-game.archive-game {
    width: 100%;
    height: auto;
}

.history-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.history-game-container {
    position: relative;
}

.history-game-container.false::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}