#navbar.nav {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    padding: 10px 0;
}

#navbar .index-link {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar #homeButtonLink .menu-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

#navbar #homeButtonLink .menu-wrapper p {
    display: none;
}

#root {
    flex-direction: column;
    justify-content: center;
}

.menu-wrapper {
    flex-direction: column;
}

.login-mobile .menu-wrapper {
    width: fit-content;
}

.mobile-sec-nav {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: min-content;
    display: flex;
    align-items: center;
}

.mobile-sec-nav .toggle-darkmode-container {
    padding: 0;
    margin: 0;
    margin-top: 0;
}

.mobile-sec-nav .toggle-darkmode-wrapper {
    height: 20px;
    width: auto;
    aspect-ratio: 1/1;
}

.mobile-sec-nav .darkmode-toggle-button {
    height: 100%;
    width: 100%;
}